div[ng-controller] {
    margin: 15px;
    padding: 15px;
    border: 1px solid red;
  }

.error-validation {
  color: red;
}

.red {
  background-color: #FF0130;
}

.orange {
  background-color: #FF8B00;
}

.purple {
  background-color: #E429F2;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: #266EF6;
}

.yellow {
  background-color: #FFD300;
}

.white {
  background-color: white;
}

.green {
  background-color: #12E772;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.eventContainer {
  border:2px solid black;
}

/* Animations */
.slide-animate-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.slide-animate {
  padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  padding:10px;
}

.slide-animate.ng-enter {
  top:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
  top:0;
}

.slide-animate.ng-leave {
  top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  top:50px;
}
